.body-sim {
    h1 {
        @include f26;
        text-align: center;
    }
}

g {
    transform: translate(150px, 150px);
}

.filter-container {
    > button {
        display: flex;
        margin-left: auto;
        font-size: 40px;
        color: $white;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }
}

.f-inner-con {
    position: absolute;
    right: 50px;
    top: 130px;
    padding: 20px;
    width: 400px;
    background-color: $white;
    border-radius: 5px;
    border: 5px solid $yellow;
    color: $black;

    > li {
        @include flex(column, 5px);
    }

    h2 {
        margin: 10px 0px -5px 0px;
        @include f18;
    }

    p {
        @include f16;
    }

    button {
        @include btn2;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .gereed {
        @include btn1;
        margin-top: 20px;
        background-color: $yellow;
        border: 5px solid $yellow;
        padding: 10px 20px;
        cursor: pointer;
        color: $black;

        &:hover {
            color: $yellow;
        }
    }

    .active {
        background-color: $yellow;
    }
}

// Legenda
.legenda-container {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: fit-content;
    text-align: right;

    button {
        @include f18;
        padding: 10px 25px;
        background-color: $yellow;
        border-radius: 15px;
        border: 5px solid $yellow;
        font-family: $font-stack;
        font-weight: bold;
        transition: $trans4;
        cursor: pointer;
    
        &:hover {
            background-color: transparent;
            color: $yellow;
        }
    }
}


.legenda {
    position: absolute;
    right: 0px;
    bottom: 90px;
    @include f18;
    padding: 20px;
    width: 400px;
    background-color: $white;
    border-radius: 15px;
    border: 5px solid $yellow;
    color: $black;
    text-align: center;

    h2 {
        @include f18;
        margin-bottom: 10px
    }

    ul {
        @include grid(1fr 1fr, 20px);
        list-style: none;

        li {
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $pink;
            }

            &:first-of-type {
                &:before {
                    background-color: #68E77A;
                }
            }

            &:nth-of-type(2) {
                &:before {
                    background-color: #FDDC80;
                }
            }

            &:nth-of-type(3) {
                &:before {
                    background-color: #06B4FF;
                }
            }

            &:last-of-type {
                &:before {
                    background-color: #D382FF;
                }
            }
        }
    }
}